Code/Themocoupler
Code/eeprom_test
Code/LovereadLamp_prototype
Code/LovereadLamp_prototype_v2
Code/RGB LED code
Code/SensorStick
Code/White LED/pwm_test
Code/MPU-6050
Code/Python tests

PCB/all.s#*
PCB/all.b#*
PCB/drilegend.l#*
PCB/Resources/
PCB/Datasheets/
PCB/gerber/
PCB/OSH gerber/

PCB/*.pdf
PCB/*.zip
PCB/*.rar  
 