Code/Themocoupler
Code/eeprom_test
Code/Lamp_prototype
Code/Lamp_prototype_v2
Code/RGB LED code
Code/SensorStick
Code/White LED/pwm_test

PCB/all.s#*
PCB/all.b#*
PCB/drilegend.l#*
PCB/Resources/
PCB/Datasheets/
PCB/gerber/
PCB/OSH gerber/

PCB/*.pdf
PCB/*.zip
PCB/*.rar  
 